<launch>
    <group ns="spot_teleop">
      <node pkg="joy" type="joy_node" name="joy_node" />
      <node pkg="spot_driver" type="spot_teleop" name="spot_teleop_node" />
      <!-- <node pkg="teleop_twist_joy" type="teleop_node" name="teleop_twist_joy"/> -->
    </group>

  <node pkg="twist_mux" type="twist_mux" name="twist_mux" >
    <rosparam command="load" file="$(find spot_driver)/config/twist_mux.yaml" />
    <remap from="cmd_vel_out" to="spot/cmd_vel"/>
  </node>

</launch>
